=begin
#Treasury Prime API

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: 1.0.0

Generated by: https://openapi-generator.tech
OpenAPI Generator version: 6.2.1

=end

require 'cgi'

module OpenapiClient
  class DefaultApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # index account.id
    # @param [Hash] opts the optional parameters
    # @return [Array<AccountGet200ResponseInner>]
    def account_get(opts = {})
      data, _status_code, _headers = account_get_with_http_info(opts)
      data
    end

    # index account.id
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AccountGet200ResponseInner>, Integer, Hash)>] Array<AccountGet200ResponseInner> data, response status code and response headers
    def account_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_get ...'
      end
      # resource path
      local_var_path = '/account'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AccountGet200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account.active_holds
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountIdActiveHoldsGet200Response]
    def account_id_active_holds_get(id, opts = {})
      data, _status_code, _headers = account_id_active_holds_get_with_http_info(id, opts)
      data
    end

    # get account.active_holds
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdActiveHoldsGet200Response, Integer, Hash)>] AccountIdActiveHoldsGet200Response data, response status code and response headers
    def account_id_active_holds_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_active_holds_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_active_holds_get"
      end
      # resource path
      local_var_path = '/account/{id}/active_holds'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdActiveHoldsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_active_holds_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_active_holds_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get-index account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_id_average_balance_get(id, opts = {})
      account_id_average_balance_get_with_http_info(id, opts)
      nil
    end

    # get-index account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_id_average_balance_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_average_balance_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_average_balance_get"
      end
      # resource path
      local_var_path = '/account/{id}/average_balance'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_average_balance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_average_balance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List Daily Balances
    # The end of day balances are available using the daily_balance endpoint. You can query this endpoint by date range; if no date range is specified, the endpoint will return balances for the most recent 30 days including today.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_id_daily_balance_get(id, opts = {})
      account_id_daily_balance_get_with_http_info(id, opts)
      nil
    end

    # List Daily Balances
    # The end of day balances are available using the daily_balance endpoint. You can query this endpoint by date range; if no date range is specified, the endpoint will return balances for the most recent 30 days including today.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_id_daily_balance_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_daily_balance_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_daily_balance_get"
      end
      # resource path
      local_var_path = '/account/{id}/daily_balance'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_daily_balance_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_daily_balance_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # delete account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_id_delete(id, opts = {})
      account_id_delete_with_http_info(id, opts)
      nil
    end

    # delete account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_id_delete_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_delete ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_delete"
      end
      # resource path
      local_var_path = '/account/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_delete",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_delete\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountIdDelete200Response]
    def account_id_get(id, opts = {})
      data, _status_code, _headers = account_id_get_with_http_info(id, opts)
      data
    end

    # get account
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdDelete200Response, Integer, Hash)>] AccountIdDelete200Response data, response status code and response headers
    def account_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_get"
      end
      # resource path
      local_var_path = '/account/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update account
    # @param id [String] 
    # @param account_id_delete_request [AccountIdDeleteRequest] The account to update
    # @param [Hash] opts the optional parameters
    # @return [AccountIdDelete200Response]
    def account_id_patch(id, account_id_delete_request, opts = {})
      data, _status_code, _headers = account_id_patch_with_http_info(id, account_id_delete_request, opts)
      data
    end

    # update account
    # @param id [String] 
    # @param account_id_delete_request [AccountIdDeleteRequest] The account to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdDelete200Response, Integer, Hash)>] AccountIdDelete200Response data, response status code and response headers
    def account_id_patch_with_http_info(id, account_id_delete_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_patch"
      end
      # verify the required parameter 'account_id_delete_request' is set
      if @api_client.config.client_side_validation && account_id_delete_request.nil?
        fail ArgumentError, "Missing the required parameter 'account_id_delete_request' when calling DefaultApi.account_id_patch"
      end
      # resource path
      local_var_path = '/account/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_id_delete_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdDelete200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account.statement.file
    # @param id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountIdTaxDocumentFileIdGet200Response]
    def account_id_statement_file_id_get(id, file_id, opts = {})
      data, _status_code, _headers = account_id_statement_file_id_get_with_http_info(id, file_id, opts)
      data
    end

    # get account.statement.file
    # @param id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdTaxDocumentFileIdGet200Response, Integer, Hash)>] AccountIdTaxDocumentFileIdGet200Response data, response status code and response headers
    def account_id_statement_file_id_get_with_http_info(id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_statement_file_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_statement_file_id_get"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling DefaultApi.account_id_statement_file_id_get"
      end
      # resource path
      local_var_path = '/account/{id}/statement/{file_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdTaxDocumentFileIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_statement_file_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_statement_file_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve Statements
    # At the end of every month, statements are generated for every account. The monthly statement lists the transactions for the month, the change in balance, and any interest accrued. This endpoint returns a URL to an account statement, or an error if none are available. The URL will serve a PDF of the statement itself.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountIdStatementGet200Response]
    def account_id_statement_get(id, opts = {})
      data, _status_code, _headers = account_id_statement_get_with_http_info(id, opts)
      data
    end

    # Retrieve Statements
    # At the end of every month, statements are generated for every account. The monthly statement lists the transactions for the month, the change in balance, and any interest accrued. This endpoint returns a URL to an account statement, or an error if none are available. The URL will serve a PDF of the statement itself.
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdStatementGet200Response, Integer, Hash)>] AccountIdStatementGet200Response data, response status code and response headers
    def account_id_statement_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_statement_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_statement_get"
      end
      # resource path
      local_var_path = '/account/{id}/statement'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdStatementGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_statement_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_statement_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account.tax_document.file
    # @param id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountIdTaxDocumentFileIdGet200Response]
    def account_id_tax_document_file_id_get(id, file_id, opts = {})
      data, _status_code, _headers = account_id_tax_document_file_id_get_with_http_info(id, file_id, opts)
      data
    end

    # get account.tax_document.file
    # @param id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdTaxDocumentFileIdGet200Response, Integer, Hash)>] AccountIdTaxDocumentFileIdGet200Response data, response status code and response headers
    def account_id_tax_document_file_id_get_with_http_info(id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_tax_document_file_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_tax_document_file_id_get"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling DefaultApi.account_id_tax_document_file_id_get"
      end
      # resource path
      local_var_path = '/account/{id}/tax_document/{file_id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s)).sub('{' + 'file_id' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdTaxDocumentFileIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_tax_document_file_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_tax_document_file_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account.tax_document
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountIdTaxDocumentGet200Response]
    def account_id_tax_document_get(id, opts = {})
      data, _status_code, _headers = account_id_tax_document_get_with_http_info(id, opts)
      data
    end

    # get account.tax_document
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountIdTaxDocumentGet200Response, Integer, Hash)>] AccountIdTaxDocumentGet200Response data, response status code and response headers
    def account_id_tax_document_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_tax_document_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_tax_document_get"
      end
      # resource path
      local_var_path = '/account/{id}/tax_document'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountIdTaxDocumentGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_tax_document_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_tax_document_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get-index account.transaction
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def account_id_transaction_get(id, opts = {})
      account_id_transaction_get_with_http_info(id, opts)
      nil
    end

    # get-index account.transaction
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def account_id_transaction_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_id_transaction_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_id_transaction_get"
      end
      # resource path
      local_var_path = '/account/{id}/transaction'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_id_transaction_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_id_transaction_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # create account-number
    # @param account_number_post_request [AccountNumberPostRequest] The account-number to create
    # @param [Hash] opts the optional parameters
    # @return [AccountNumberPost200Response]
    def account_number_post(account_number_post_request, opts = {})
      data, _status_code, _headers = account_number_post_with_http_info(account_number_post_request, opts)
      data
    end

    # create account-number
    # @param account_number_post_request [AccountNumberPostRequest] The account-number to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountNumberPost200Response, Integer, Hash)>] AccountNumberPost200Response data, response status code and response headers
    def account_number_post_with_http_info(account_number_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_number_post ...'
      end
      # verify the required parameter 'account_number_post_request' is set
      if @api_client.config.client_side_validation && account_number_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'account_number_post_request' when calling DefaultApi.account_number_post"
      end
      # resource path
      local_var_path = '/account_number'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_number_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountNumberPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_number_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_number_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an Account Number Reservation
    # @param [Hash] opts the optional parameters
    # @return [Array<AccountNumberReservationGet200ResponseInner>]
    def account_number_reservation_get(opts = {})
      data, _status_code, _headers = account_number_reservation_get_with_http_info(opts)
      data
    end

    # Retrieve an Account Number Reservation
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AccountNumberReservationGet200ResponseInner>, Integer, Hash)>] Array<AccountNumberReservationGet200ResponseInner> data, response status code and response headers
    def account_number_reservation_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_number_reservation_get ...'
      end
      # resource path
      local_var_path = '/account_number_reservation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AccountNumberReservationGet200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_number_reservation_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_number_reservation_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account-number-reservation
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AccountNumberReservationGet200ResponseInner]
    def account_number_reservation_id_get(id, opts = {})
      data, _status_code, _headers = account_number_reservation_id_get_with_http_info(id, opts)
      data
    end

    # get account-number-reservation
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountNumberReservationGet200ResponseInner, Integer, Hash)>] AccountNumberReservationGet200ResponseInner data, response status code and response headers
    def account_number_reservation_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_number_reservation_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.account_number_reservation_id_get"
      end
      # resource path
      local_var_path = '/account_number_reservation/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountNumberReservationGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_number_reservation_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_number_reservation_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an Account Number Reservation
    # By default, accounts created through the Treasury Prime API are assigned system-generated account numbers at the time of account creation. However, certain integrations require knowing the account number that will be assigned prior to account creation. For those scenarios the account_number_reservation endpoint can be used to pre-allocate an account number when submitting an account application.
    # @param body [Object] The account-number-reservation to create
    # @param [Hash] opts the optional parameters
    # @return [AccountNumberReservationGet200ResponseInner]
    def account_number_reservation_post(body, opts = {})
      data, _status_code, _headers = account_number_reservation_post_with_http_info(body, opts)
      data
    end

    # Create an Account Number Reservation
    # By default, accounts created through the Treasury Prime API are assigned system-generated account numbers at the time of account creation. However, certain integrations require knowing the account number that will be assigned prior to account creation. For those scenarios the account_number_reservation endpoint can be used to pre-allocate an account number when submitting an account application.
    # @param body [Object] The account-number-reservation to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountNumberReservationGet200ResponseInner, Integer, Hash)>] AccountNumberReservationGet200ResponseInner data, response status code and response headers
    def account_number_reservation_post_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_number_reservation_post ...'
      end
      # resource path
      local_var_path = '/account_number_reservation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountNumberReservationGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_number_reservation_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_number_reservation_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # create account.create
    # @param account_get_request [AccountGetRequest] The account.create to create
    # @param [Hash] opts the optional parameters
    # @return [AccountGet200Response]
    def account_post(account_get_request, opts = {})
      data, _status_code, _headers = account_post_with_http_info(account_get_request, opts)
      data
    end

    # create account.create
    # @param account_get_request [AccountGetRequest] The account.create to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountGet200Response, Integer, Hash)>] AccountGet200Response data, response status code and response headers
    def account_post_with_http_info(account_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_post ...'
      end
      # verify the required parameter 'account_get_request' is set
      if @api_client.config.client_side_validation && account_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'account_get_request' when calling DefaultApi.account_post"
      end
      # resource path
      local_var_path = '/account'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(account_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AccountGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # index account_product
    # @param [Hash] opts the optional parameters
    # @return [Array<AccountProductGet200ResponseInner>]
    def account_product_get(opts = {})
      data, _status_code, _headers = account_product_get_with_http_info(opts)
      data
    end

    # index account_product
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AccountProductGet200ResponseInner>, Integer, Hash)>] Array<AccountProductGet200ResponseInner> data, response status code and response headers
    def account_product_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_product_get ...'
      end
      # resource path
      local_var_path = '/account_product'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AccountProductGet200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_product_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_product_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get account_product
    # @param [Hash] opts the optional parameters
    # @return [AccountProductGet200ResponseInner]
    def account_product_id_get(opts = {})
      data, _status_code, _headers = account_product_id_get_with_http_info(opts)
      data
    end

    # get account_product
    # @param [Hash] opts the optional parameters
    # @return [Array<(AccountProductGet200ResponseInner, Integer, Hash)>] AccountProductGet200ResponseInner data, response status code and response headers
    def account_product_id_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.account_product_id_get ...'
      end
      # resource path
      local_var_path = '/account_product/{id}'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AccountProductGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.account_product_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#account_product_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List All ACH Transfers
    # Returns a list of all existing ACH transfers that you have created, or an empty list if none are available.
    # @param [Hash] opts the optional parameters
    # @return [Array<AchGet200ResponseInner>]
    def ach_get(opts = {})
      data, _status_code, _headers = ach_get_with_http_info(opts)
      data
    end

    # List All ACH Transfers
    # Returns a list of all existing ACH transfers that you have created, or an empty list if none are available.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AchGet200ResponseInner>, Integer, Hash)>] Array<AchGet200ResponseInner> data, response status code and response headers
    def ach_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.ach_get ...'
      end
      # resource path
      local_var_path = '/ach'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AchGet200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.ach_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#ach_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get ach
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AchGet200ResponseInner]
    def ach_id_get(id, opts = {})
      data, _status_code, _headers = ach_id_get_with_http_info(id, opts)
      data
    end

    # get ach
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AchGet200ResponseInner, Integer, Hash)>] AchGet200ResponseInner data, response status code and response headers
    def ach_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.ach_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.ach_id_get"
      end
      # resource path
      local_var_path = '/ach/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AchGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.ach_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#ach_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update ach
    # @param id [String] 
    # @param ach_id_get_request [AchIdGetRequest] The ach to update
    # @param [Hash] opts the optional parameters
    # @return [AchGet200ResponseInner]
    def ach_id_patch(id, ach_id_get_request, opts = {})
      data, _status_code, _headers = ach_id_patch_with_http_info(id, ach_id_get_request, opts)
      data
    end

    # update ach
    # @param id [String] 
    # @param ach_id_get_request [AchIdGetRequest] The ach to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(AchGet200ResponseInner, Integer, Hash)>] AchGet200ResponseInner data, response status code and response headers
    def ach_id_patch_with_http_info(id, ach_id_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.ach_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.ach_id_patch"
      end
      # verify the required parameter 'ach_id_get_request' is set
      if @api_client.config.client_side_validation && ach_id_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'ach_id_get_request' when calling DefaultApi.ach_id_patch"
      end
      # resource path
      local_var_path = '/ach/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ach_id_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AchGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.ach_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#ach_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create an ACH
    # To initiate a new ACH transfer, you create a new ACH object.
    # @param ach_get_request [AchGetRequest] The ach to create
    # @param [Hash] opts the optional parameters
    # @return [AchGet200ResponseInner]
    def ach_post(ach_get_request, opts = {})
      data, _status_code, _headers = ach_post_with_http_info(ach_get_request, opts)
      data
    end

    # Create an ACH
    # To initiate a new ACH transfer, you create a new ACH object.
    # @param ach_get_request [AchGetRequest] The ach to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(AchGet200ResponseInner, Integer, Hash)>] AchGet200ResponseInner data, response status code and response headers
    def ach_post_with_http_info(ach_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.ach_post ...'
      end
      # verify the required parameter 'ach_get_request' is set
      if @api_client.config.client_side_validation && ach_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'ach_get_request' when calling DefaultApi.ach_post"
      end
      # resource path
      local_var_path = '/ach'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(ach_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AchGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.ach_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#ach_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve All Account Applications
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Application ID
    # @return [nil]
    def apply_account_application_get(opts = {})
      apply_account_application_get_with_http_info(opts)
      nil
    end

    # Retrieve All Account Applications
    # @param [Hash] opts the optional parameters
    # @option opts [String] :id Application ID
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def apply_account_application_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_account_application_get ...'
      end
      # resource path
      local_var_path = '/apply/account_application'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_account_application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_account_application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get apply.account-application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyAccountApplicationIdGet200Response]
    def apply_account_application_id_get(id, opts = {})
      data, _status_code, _headers = apply_account_application_id_get_with_http_info(id, opts)
      data
    end

    # get apply.account-application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAccountApplicationIdGet200Response, Integer, Hash)>] ApplyAccountApplicationIdGet200Response data, response status code and response headers
    def apply_account_application_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_account_application_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_account_application_id_get"
      end
      # resource path
      local_var_path = '/apply/account_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAccountApplicationIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_account_application_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_account_application_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update apply.account-application
    # @param id [String] 
    # @param apply_account_application_id_get_request [ApplyAccountApplicationIdGetRequest] The apply.account-application to update
    # @param [Hash] opts the optional parameters
    # @return [ApplyAccountApplicationIdGet200Response]
    def apply_account_application_id_patch(id, apply_account_application_id_get_request, opts = {})
      data, _status_code, _headers = apply_account_application_id_patch_with_http_info(id, apply_account_application_id_get_request, opts)
      data
    end

    # update apply.account-application
    # @param id [String] 
    # @param apply_account_application_id_get_request [ApplyAccountApplicationIdGetRequest] The apply.account-application to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAccountApplicationIdGet200Response, Integer, Hash)>] ApplyAccountApplicationIdGet200Response data, response status code and response headers
    def apply_account_application_id_patch_with_http_info(id, apply_account_application_id_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_account_application_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_account_application_id_patch"
      end
      # verify the required parameter 'apply_account_application_id_get_request' is set
      if @api_client.config.client_side_validation && apply_account_application_id_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_account_application_id_get_request' when calling DefaultApi.apply_account_application_id_patch"
      end
      # resource path
      local_var_path = '/apply/account_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_account_application_id_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAccountApplicationIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_account_application_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_account_application_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create Account Application
    # To create an application for a new bank account, create an Account Application object.  This example demonstrates the creation of a Personal account. Business accounts are very similar, but will utilize a few different fields. Please see [https://developers.treasuryprime.com/guides/open-accounts](https://developers.treasuryprime.com/guides/open-accounts) for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [ApplyAccountApplicationGetRequest] :apply_account_application_get_request 
    # @return [String]
    def apply_account_application_post(opts = {})
      data, _status_code, _headers = apply_account_application_post_with_http_info(opts)
      data
    end

    # Create Account Application
    # To create an application for a new bank account, create an Account Application object.  This example demonstrates the creation of a Personal account. Business accounts are very similar, but will utilize a few different fields. Please see [https://developers.treasuryprime.com/guides/open-accounts](https://developers.treasuryprime.com/guides/open-accounts) for more information.
    # @param [Hash] opts the optional parameters
    # @option opts [ApplyAccountApplicationGetRequest] :apply_account_application_get_request 
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def apply_account_application_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_account_application_post ...'
      end
      # resource path
      local_var_path = '/apply/account_application'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain', 'application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'apply_account_application_get_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_account_application_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_account_application_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # index apply.additional-person-application
    # @param [Hash] opts the optional parameters
    # @return [Array<ApplyAdditionalPersonApplicationIdGet200Response>]
    def apply_additional_person_application_get(opts = {})
      data, _status_code, _headers = apply_additional_person_application_get_with_http_info(opts)
      data
    end

    # index apply.additional-person-application
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ApplyAdditionalPersonApplicationIdGet200Response>, Integer, Hash)>] Array<ApplyAdditionalPersonApplicationIdGet200Response> data, response status code and response headers
    def apply_additional_person_application_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_additional_person_application_get ...'
      end
      # resource path
      local_var_path = '/apply/additional_person_application'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApplyAdditionalPersonApplicationIdGet200Response>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_additional_person_application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_additional_person_application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retrieve an Additional Person Application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyAdditionalPersonApplicationIdGet200Response]
    def apply_additional_person_application_id_get(id, opts = {})
      data, _status_code, _headers = apply_additional_person_application_id_get_with_http_info(id, opts)
      data
    end

    # Retrieve an Additional Person Application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAdditionalPersonApplicationIdGet200Response, Integer, Hash)>] ApplyAdditionalPersonApplicationIdGet200Response data, response status code and response headers
    def apply_additional_person_application_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_additional_person_application_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_additional_person_application_id_get"
      end
      # resource path
      local_var_path = '/apply/additional_person_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAdditionalPersonApplicationIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_additional_person_application_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_additional_person_application_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update an Additional Person Applications
    # Updates the specified Additional Person Application by setting the values of the passed parameters. Any parameters not provided will be left unchanged. Note: only the userdata parameter is permitted to change.
    # @param id [String] 
    # @param apply_additional_person_application_id_get_request [ApplyAdditionalPersonApplicationIdGetRequest] The apply.additional-person-application to update
    # @param [Hash] opts the optional parameters
    # @return [ApplyAdditionalPersonApplicationIdGet200Response]
    def apply_additional_person_application_id_patch(id, apply_additional_person_application_id_get_request, opts = {})
      data, _status_code, _headers = apply_additional_person_application_id_patch_with_http_info(id, apply_additional_person_application_id_get_request, opts)
      data
    end

    # Update an Additional Person Applications
    # Updates the specified Additional Person Application by setting the values of the passed parameters. Any parameters not provided will be left unchanged. Note: only the userdata parameter is permitted to change.
    # @param id [String] 
    # @param apply_additional_person_application_id_get_request [ApplyAdditionalPersonApplicationIdGetRequest] The apply.additional-person-application to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAdditionalPersonApplicationIdGet200Response, Integer, Hash)>] ApplyAdditionalPersonApplicationIdGet200Response data, response status code and response headers
    def apply_additional_person_application_id_patch_with_http_info(id, apply_additional_person_application_id_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_additional_person_application_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_additional_person_application_id_patch"
      end
      # verify the required parameter 'apply_additional_person_application_id_get_request' is set
      if @api_client.config.client_side_validation && apply_additional_person_application_id_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_additional_person_application_id_get_request' when calling DefaultApi.apply_additional_person_application_id_patch"
      end
      # resource path
      local_var_path = '/apply/additional_person_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_additional_person_application_id_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAdditionalPersonApplicationIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_additional_person_application_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_additional_person_application_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # create apply.additional-person-application
    # @param apply_additional_person_application_get_request [ApplyAdditionalPersonApplicationGetRequest] The apply.additional-person-application to create
    # @param [Hash] opts the optional parameters
    # @return [ApplyAdditionalPersonApplicationIdGet200Response]
    def apply_additional_person_application_post(apply_additional_person_application_get_request, opts = {})
      data, _status_code, _headers = apply_additional_person_application_post_with_http_info(apply_additional_person_application_get_request, opts)
      data
    end

    # create apply.additional-person-application
    # @param apply_additional_person_application_get_request [ApplyAdditionalPersonApplicationGetRequest] The apply.additional-person-application to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAdditionalPersonApplicationIdGet200Response, Integer, Hash)>] ApplyAdditionalPersonApplicationIdGet200Response data, response status code and response headers
    def apply_additional_person_application_post_with_http_info(apply_additional_person_application_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_additional_person_application_post ...'
      end
      # verify the required parameter 'apply_additional_person_application_get_request' is set
      if @api_client.config.client_side_validation && apply_additional_person_application_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_additional_person_application_get_request' when calling DefaultApi.apply_additional_person_application_post"
      end
      # resource path
      local_var_path = '/apply/additional_person_application'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_additional_person_application_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAdditionalPersonApplicationIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_additional_person_application_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_additional_person_application_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # index apply.authorized-user-application
    # @param [Hash] opts the optional parameters
    # @return [Array<ApplyAuthorizedUserApplicationGet200ResponseInner>]
    def apply_authorized_user_application_get(opts = {})
      data, _status_code, _headers = apply_authorized_user_application_get_with_http_info(opts)
      data
    end

    # index apply.authorized-user-application
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ApplyAuthorizedUserApplicationGet200ResponseInner>, Integer, Hash)>] Array<ApplyAuthorizedUserApplicationGet200ResponseInner> data, response status code and response headers
    def apply_authorized_user_application_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_authorized_user_application_get ...'
      end
      # resource path
      local_var_path = '/apply/authorized_user_application'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApplyAuthorizedUserApplicationGet200ResponseInner>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_authorized_user_application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_authorized_user_application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get apply.authorized-user-application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyAuthorizedUserApplicationGet200ResponseInner]
    def apply_authorized_user_application_id_get(id, opts = {})
      data, _status_code, _headers = apply_authorized_user_application_id_get_with_http_info(id, opts)
      data
    end

    # get apply.authorized-user-application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAuthorizedUserApplicationGet200ResponseInner, Integer, Hash)>] ApplyAuthorizedUserApplicationGet200ResponseInner data, response status code and response headers
    def apply_authorized_user_application_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_authorized_user_application_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_authorized_user_application_id_get"
      end
      # resource path
      local_var_path = '/apply/authorized_user_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAuthorizedUserApplicationGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_authorized_user_application_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_authorized_user_application_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update apply.authorized-user-application
    # @param id [String] 
    # @param apply_authorized_user_application_id_get_request [ApplyAuthorizedUserApplicationIdGetRequest] The apply.authorized-user-application to update
    # @param [Hash] opts the optional parameters
    # @return [ApplyAuthorizedUserApplicationGet200ResponseInner]
    def apply_authorized_user_application_id_patch(id, apply_authorized_user_application_id_get_request, opts = {})
      data, _status_code, _headers = apply_authorized_user_application_id_patch_with_http_info(id, apply_authorized_user_application_id_get_request, opts)
      data
    end

    # update apply.authorized-user-application
    # @param id [String] 
    # @param apply_authorized_user_application_id_get_request [ApplyAuthorizedUserApplicationIdGetRequest] The apply.authorized-user-application to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAuthorizedUserApplicationGet200ResponseInner, Integer, Hash)>] ApplyAuthorizedUserApplicationGet200ResponseInner data, response status code and response headers
    def apply_authorized_user_application_id_patch_with_http_info(id, apply_authorized_user_application_id_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_authorized_user_application_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_authorized_user_application_id_patch"
      end
      # verify the required parameter 'apply_authorized_user_application_id_get_request' is set
      if @api_client.config.client_side_validation && apply_authorized_user_application_id_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_authorized_user_application_id_get_request' when calling DefaultApi.apply_authorized_user_application_id_patch"
      end
      # resource path
      local_var_path = '/apply/authorized_user_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_authorized_user_application_id_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAuthorizedUserApplicationGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_authorized_user_application_id_patch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_authorized_user_application_id_patch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # create apply.authorized-user-application
    # @param apply_authorized_user_application_get_request [ApplyAuthorizedUserApplicationGetRequest] The apply.authorized-user-application to create
    # @param [Hash] opts the optional parameters
    # @return [ApplyAuthorizedUserApplicationGet200ResponseInner]
    def apply_authorized_user_application_post(apply_authorized_user_application_get_request, opts = {})
      data, _status_code, _headers = apply_authorized_user_application_post_with_http_info(apply_authorized_user_application_get_request, opts)
      data
    end

    # create apply.authorized-user-application
    # @param apply_authorized_user_application_get_request [ApplyAuthorizedUserApplicationGetRequest] The apply.authorized-user-application to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyAuthorizedUserApplicationGet200ResponseInner, Integer, Hash)>] ApplyAuthorizedUserApplicationGet200ResponseInner data, response status code and response headers
    def apply_authorized_user_application_post_with_http_info(apply_authorized_user_application_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_authorized_user_application_post ...'
      end
      # verify the required parameter 'apply_authorized_user_application_get_request' is set
      if @api_client.config.client_side_validation && apply_authorized_user_application_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_authorized_user_application_get_request' when calling DefaultApi.apply_authorized_user_application_post"
      end
      # resource path
      local_var_path = '/apply/authorized_user_application'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_authorized_user_application_get_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyAuthorizedUserApplicationGet200ResponseInner'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_authorized_user_application_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_authorized_user_application_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # index apply.business-application
    # @param [Hash] opts the optional parameters
    # @return [Array<ApplyBusinessApplicationIdGet200Response>]
    def apply_business_application_get(opts = {})
      data, _status_code, _headers = apply_business_application_get_with_http_info(opts)
      data
    end

    # index apply.business-application
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<ApplyBusinessApplicationIdGet200Response>, Integer, Hash)>] Array<ApplyBusinessApplicationIdGet200Response> data, response status code and response headers
    def apply_business_application_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_business_application_get ...'
      end
      # resource path
      local_var_path = '/apply/business_application'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<ApplyBusinessApplicationIdGet200Response>'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_business_application_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_business_application_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get apply.business-application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyBusinessApplicationIdGet200Response]
    def apply_business_application_id_get(id, opts = {})
      data, _status_code, _headers = apply_business_application_id_get_with_http_info(id, opts)
      data
    end

    # get apply.business-application
    # @param id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyBusinessApplicationIdGet200Response, Integer, Hash)>] ApplyBusinessApplicationIdGet200Response data, response status code and response headers
    def apply_business_application_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_business_application_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_business_application_id_get"
      end
      # resource path
      local_var_path = '/apply/business_application/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyBusinessApplicationIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"DefaultApi.apply_business_application_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DefaultApi#apply_business_application_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update apply.business-application
    # @param id [String] 
    # @param apply_business_application_id_get_request [ApplyBusinessApplicationIdGetRequest] The apply.business-application to update
    # @param [Hash] opts the optional parameters
    # @return [ApplyBusinessApplicationIdGet200Response]
    def apply_business_application_id_patch(id, apply_business_application_id_get_request, opts = {})
      data, _status_code, _headers = apply_business_application_id_patch_with_http_info(id, apply_business_application_id_get_request, opts)
      data
    end

    # update apply.business-application
    # @param id [String] 
    # @param apply_business_application_id_get_request [ApplyBusinessApplicationIdGetRequest] The apply.business-application to update
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyBusinessApplicationIdGet200Response, Integer, Hash)>] ApplyBusinessApplicationIdGet200Response data, response status code and response headers
    def apply_business_application_id_patch_with_http_info(id, apply_business_application_id_get_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DefaultApi.apply_business_application_id_patch ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling DefaultApi.apply_business_application_id_patch"
      end
      # verify the required parameter 'apply_business_application_id_get_request' is set
      if @api_client.config.client_side_validation && apply_business_application_id_get_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_business_application_id_get_request' when calling DefaultApi.apply_business_application_id_patch"
      end
[...]
